# --------------------------------------------
# --------------- DESCRIPTION ----------------
#
# Adding a requirements.txt file to your App tells RoboDK that you have Python dependencies that needs to be pre-installed.
# This is optional, and should not be added if not needed.
#
# If you want to install opencv for Python and pyserial, you should add:
# opencv-python
# pyserial
#
# You can also use version specifiers (https://peps.python.org/pep-0440/#version-specifiers):
# numpy>=1.23
# pandas~=1.4
#
# More information about the RoboDK API for Python here:
#     https://robodk.com/doc/en/RoboDK-API.html
#     https://robodk.com/doc/en/PythonAPI/index.html
#
# More information on RoboDK Apps here:
#     https://github.com/RoboDK/Plug-In-Interface/tree/master/PluginAppLoader
#
# --------------------------------------------